@page
@model Cpm.Web.Pages.Fields.MonthlyDiaryModel
@{
    ViewData["Title"] = "Diary";
}
<div class="page-header">
    <ol class="breadcrumb">
        <li><a asp-page="/Dashboard" asp-route-siteid=@Model.SiteId>Dashboard (@Model.FarmName / @Model.SiteName)</a></li>
        <li class="active">Diary for @Model.FieldName</li>
    </ol>
</div>
@Html.Raw(Model.LoadStatusHtml())

<ul class="list-inline" id="calendar-navigation">
    @if (Model.ShowNotes)
    {
        <li><button class="btn btn-default btn-sm" id="firstNoteButton">First note</button></li>
    }
    <li><button class="btn btn-default btn-sm" id="firstHarvestButton">First harvest</button></li>
    <li><button class="btn btn-default btn-sm" id="previousButton">Previous</button></li>
    <li><button class="btn btn-primary btn-sm" id="todayButton">Today</button></li>
    <li><button class="btn btn-default btn-sm" id="nextButton">Next</button></li>
    <li><button class="btn btn-default btn-sm" id="lastHarvestButton">Last harvest</button></li>
    @if (Model.ShowNotes)
    {
        <li><button class="btn btn-default btn-sm" id="lastNoteButton">Last note</button></li>
    }
</ul>

<div id="calendar" class="col-md-12"></div>

<hr />

@* prevent the page jumping while loading the day by setting the height *@
<div id="details" style="min-height: 44em"></div>

@section Scripts {
    <script>
        $(document).ready(() => {
            var diary = new App.MonthlyDiary("@Model.FieldId");
        });
    </script>
}